body {
  padding: 1%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: hsla(203, 16%, 72%, 0.726);
}

a {
  color: #050103;
}


.frm-field{
  background-color: hsla(145, 58%, 81%, 0.726);
  margin: 1.2em;
  padding: 1.2em;
  border-radius: 5%;
}

.link-btn{
font-weight: bold;
}