<br>
<br>
<br>
<br>
<div class="footer">
    <div class="social">

    </div>
    <div class="footer-menu">
        <nav>
            <a href="/about/">About</a> |
            <a href="/team/">Team </a> |
            <a href="/contact/">Contact</a>
        </nav>
    </div>
    <div class="footer-copy-right">
        <p>&copy; Copyright 2033, www.fleet-wise.com , Developed by <a href="#">GTM Software Inc.</a></p>
    </div>
</div>