<nav>
  <a href="/">Home</a> |
  <a href="/loading/">Loading Entry</a> |
  <a href="/unloading/">Unloading Entry </a> |
  <a href="/report/">Loading Reports</a> |
  <a href="/report/">Unoading Reports</a> |
  <a href="/profile/">Profile</a>
</nav>