<!-- The navigation menu -->
<div class="navbar">
  <nav>
  <a href="/">Home</a>|
  <a href="/loading/">Loading Entry</a> |
  <a href="/unloading/">Unloading Entry </a> |
  <div class="subnav">
    <button class="subnavbtn">Loading Reports  <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="/report/Loading_Reports">Today</a>
      <a href="/report/Loading_Reports">Current Week</a>
      <a href="/report/Loading_Reports">Current Month</a>
      <a href="/report/Loading_Reports">Current Year</a>
      <a href="/report/Loading_Reports">yesterday</a>
      <a href="/report/Loading_Reports">Last Week</a>
      <a href="/report/Loading_Reports">Last Month</a>
      <a href="/report/Loading_Reports">Last Year</a>
      <a href="/report/Loading_Reports">Custom Date Range</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Unloading Reports  <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="/report/Unoading_Reports">Today</a>
      <a href="/report/Unoading_Reports">Current Week</a>
      <a href="/report/Unoading_Reports">Current Month</a>
      <a href="/report/Unoading_Reports">Current Year</a>
      <a href="/report/Unoading_Reports">yesterday</a>
      <a href="/report/Unoading_Reports">Last Week</a>
      <a href="/report/Unoading_Reports">Last Month</a>
      <a href="/report/Unoading_Reports">Last Year</a>
      <a href="/report/Unoading_Reports">Custom Date Range</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Master Data Entry <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#gadiMaster">Gadi Master Entry ( गाड़ी मास्टर एंट्री )</a>
      <a href="#sellerMaster">Seller Master Entry ( सेलर मास्टर एंट्री ) </a>
      <a href="#buyerMaster">Buyer Master Entry ( खरीदार मास्टर एंट्री )</a>
      <a href="#driverMaster">Driver Master Entry ( ड्राइवर मास्टर एंट्री )</a>
      <a href="#staffMaster">Staff Master Entry ( स्टाफ मास्टर एंट्री )</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn"> One View <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#bring">Market-Nagad-Udhar</a>
      <a href="#deliver">Staff-Salary-Nagar-Udhar</a>
      <a href="#package">Seller-Nagad-Udhar</a>
      <a href="#express">Buyer-Nagad-Udhar</a>
    </div>
  </div>
  <a href="#contact">Contact</a>
</nav>
</div>